body {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 16px;
  color: black;
  background: #f7cde5;
  min-height: 100%;
}


/*HEADER*/

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: 0;
  border-bottom: 1px dotted gainsboro;
  background-color: white;
  z-index: 5;
}


/*NAV*/

.nav1 {
  font-size: 0.5rem;
  /*visibility: hidden;*/
}

.nav1 ul {
  list-style: none;
  padding: 0px;
}

.nav1 li {
  padding-left: 1rem;
}

.nav1 li:nth-of-type(1) {
  font-size: 0.75rem;
  font-weight: bolder;
  padding-bottom: 0.5rem;
}

.nav1 a {
  color: #002050;
  text-decoration: none;
}

/* DROP DOWN MENU */


/*

.nav-icon {
width: 40px;
margin: 1em;
display: none;
}

.nav-icon div {
background: black;
border: 1px solid;
border-radius: 1px;
height: 1px;
margin: 2px 0;
transition: all 1s;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: transparent;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 20px 20px;
text-decoration: none;
display: inline-block;
}

.dropdown-content a:hover {
background-color: transparent;
}

.dropdown:hover .dropdown-content {
display: inline-block;
}

*/


/* INDEX */


.flyergallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #f7cde5;
  text-align: right;
}

.flyergrid {
  height: 100%;
  flex-direction: column;
  margin-top: 15%;
}

.flyergrid img {
}

.flyerinfo {
  position: relative;
  cursor: pointer;
}

.flyerinfo img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding-top: 1px;
}

.flyerinfo div {
  position: absolute;
  color: #fff;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40%;
  text-align: center;
  opacity: 0;
}

.flyerinfo div.show {
  opacity: 1;
}





/*
.clickOnFlyer {
  height: 400px;
  width: 400px;
  padding-top: 5px;
  cursor: pointer;
  position: relative;
  overflow: scroll;
}

.clickOnFlyer img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.clickOnFlyer div {
  position: absolute;
  color: #fff;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40%;
  text-align: center;
}

*/


/*

.gallery-modal {
}

.modal {
  position: fixed;
  top: 35%;
  left: 25%;
  width: 200px;
  height: 300px;
  visibility: hidden;
  z-index: 100;
  border: 1px solid lightgray;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.active {
  visibility: visible;
  opacity: 1;
}
.active + .modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
*/


/* ABOUT */

.about {
  height: 100%;
  width: 100%;
  background: #f7cde5;
  overflow: scroll;
  margin-top: 10%;
}

.about p {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.about p:nth-of-type(2) {
  padding-left: 100px;
  padding-right: 100px;
}




/* MUSIC */

.music {
  height: 100%;
  width: 100%;
  background: #f7cde5;
  overflow: scroll;
  margin-top: 20%;
}

.video-responsive {
  padding-left: 0px;
  padding-bottom: 0%;
  position:relative;
  height:0;
}

.video-responsive iframe {
left: 25%;
top:0;
height:50%;
width: 50%;
position:absolute;
border: 2px solid gainsboro;
}

.video-responsive-2 {
padding-bottom:56.25%;
height:0;
position:relative;
}

.video-responsive-2 iframe {
left: 25%;
top:0;
height:50%;
width: 50%;
position:absolute;
border: 2px solid gainsboro;
}

.video-responsive-3 {
padding-bottom:25%;
height:0;
position:relative;
}

.video-responsive-3 iframe {
left: 25%;
top:0;
height:50%;
width: 50%;
position:absolute;
border: 2px solid gainsboro;
}



/* 

EVENTS 

.events {
  height: 35rem;
  width: 100%;
  background: #f7cde5;
}

.events h1 {
  padding: 100px 400px 200px 500px;
}

.pastevents {
  padding: 200px 300px 200px 100px;
}

CONTACT 

.contact {
  height: 35rem;
  width: 100%;
  background: #f7cde5;
}

.signup {
  padding: 100px 300px 200px 500px;
}

*/


/*FOOTER*/


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px dotted gainsboro;
  background: white;
  display: none;


}

/* MEDIA Q */


@media screen and (min-width: 480px) {
    

}




@media screen and (min-width: 768px) {

/*  
.dropdown {
    display: none;
}
*/

.nav1 li {
  display: inline-block;
  text-align: center;
  padding-left: 1rem;
  font-size: 0.75rem;
}

.nav1 li:nth-of-type(1) {
  font-size: 1.25rem;
  font-weight: bolder;
}

.flyergrid {
  
}

.flyerinfo img {
  height: 300px;
  width: 300px;
}

 .music {
  margin-top: 10%;
}

.footer {
  display: block;
}



}


@media screen and (min-width: 960px) {


  .flyergallery {
  }

  .flyergrid {
    display: flex;
    flex-direction: row;
    margin-left: 200%;
    height: 50%;
  }

  .flyergrid img {
    padding-right: 2px;
  }


}




@media screen and (min-width: 1280px) {

  .nav1 {
    font-size: 1rem;
  }

  .nav1 li:nth-of-type(1) {
    font-size: 1.25rem;
  }


  .flyergrid {
  margin-top: 5%;
  }

  .flyerinfo img {
    height: 400px;
    width: 400px;
  }


}



@media screen and (min-width: 1680px) {



}

body {
  font-family: "Carrois Gothic SC", sans-serif;
  font-size: 16px;
  color: black;
  background: #f7cde5;
  min-height: 100%;
}


/*HEADER*/

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: 0;
  border-bottom: 1px dotted gainsboro;
  background-color: white;
  z-index: 5;
}


/*NAV*/

.nav1 {
  font-size: 0.5rem;
  /*visibility: hidden;*/
}

.nav1 ul {
  list-style: none;
  padding: 0px;
}

.nav1 li {
  padding-left: 1rem;
}

.nav1 li:nth-of-type(1) {
  font-size: 0.75rem;
  font-weight: bolder;
  padding-bottom: 0.5rem;
}

.nav1 a {
  color: #002050;
  text-decoration: none;
}

/* DROP DOWN MENU */


/*

.nav-icon {
width: 40px;
margin: 1em;
display: none;
}

.nav-icon div {
background: black;
border: 1px solid;
border-radius: 1px;
height: 1px;
margin: 2px 0;
transition: all 1s;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: transparent;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 20px 20px;
text-decoration: none;
display: inline-block;
}

.dropdown-content a:hover {
background-color: transparent;
}

.dropdown:hover .dropdown-content {
display: inline-block;
}

*/


/* INDEX */


.flyergallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #f7cde5;
  text-align: right;
}

.flyergrid {
  height: 100%;
  flex-direction: column;
  margin-top: 15%;
}

.flyergrid img {
}

.flyerinfo {
  position: relative;
  cursor: pointer;
}

.flyerinfo img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding-top: 1px;
}

.flyerinfo div {
  position: absolute;
  color: #fff;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40%;
  text-align: center;
  opacity: 0;
}

.flyerinfo div.show {
  opacity: 1;
}





/*
.clickOnFlyer {
  height: 400px;
  width: 400px;
  padding-top: 5px;
  cursor: pointer;
  position: relative;
  overflow: scroll;
}

.clickOnFlyer img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.clickOnFlyer div {
  position: absolute;
  color: #fff;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40%;
  text-align: center;
}

*/


/*

.gallery-modal {
}

.modal {
  position: fixed;
  top: 35%;
  left: 25%;
  width: 200px;
  height: 300px;
  visibility: hidden;
  z-index: 100;
  border: 1px solid lightgray;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.active {
  visibility: visible;
  opacity: 1;
}
.active + .modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
*/


/* ABOUT */

.about {
  height: 100%;
  width: 100%;
  background: #f7cde5;
  overflow: scroll;
  margin-top: 10%;
}

.about p {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.about p:nth-of-type(2) {
  padding-left: 100px;
  padding-right: 100px;
}




/* MUSIC */

.music {
  height: 100%;
  width: 100%;
  background: #f7cde5;
  overflow: scroll;
  margin-top: 20%;
}

.video-responsive {
  padding-left: 0px;
  padding-bottom: 0%;
  position:relative;
  height:0;
}

.video-responsive iframe {
left: 25%;
top:0;
height:50%;
width: 50%;
position:absolute;
border: 2px solid gainsboro;
}

.video-responsive-2 {
padding-bottom:56.25%;
height:0;
position:relative;
}

.video-responsive-2 iframe {
left: 25%;
top:0;
height:50%;
width: 50%;
position:absolute;
border: 2px solid gainsboro;
}

.video-responsive-3 {
padding-bottom:25%;
height:0;
position:relative;
}

.video-responsive-3 iframe {
left: 25%;
top:0;
height:50%;
width: 50%;
position:absolute;
border: 2px solid gainsboro;
}



/* 

EVENTS 

.events {
  height: 35rem;
  width: 100%;
  background: #f7cde5;
}

.events h1 {
  padding: 100px 400px 200px 500px;
}

.pastevents {
  padding: 200px 300px 200px 100px;
}

CONTACT 

.contact {
  height: 35rem;
  width: 100%;
  background: #f7cde5;
}

.signup {
  padding: 100px 300px 200px 500px;
}

*/


/*FOOTER*/


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px dotted gainsboro;
  background: white;
  display: none;


}

/* MEDIA Q */


@media screen and (min-width: 480px) {
    

}




@media screen and (min-width: 768px) {

/*  
.dropdown {
    display: none;
}
*/

.nav1 li {
  display: inline-block;
  text-align: center;
  padding-left: 1rem;
  font-size: 0.75rem;
}

.nav1 li:nth-of-type(1) {
  font-size: 1.25rem;
  font-weight: bolder;
}

.flyergrid {
  
}

.flyerinfo img {
  height: 300px;
  width: 300px;
}

 .music {
  margin-top: 10%;
}

.footer {
  display: block;
}



}


@media screen and (min-width: 960px) {


  .flyergallery {
  }

  .flyergrid {
    display: flex;
    flex-direction: row;
    margin-left: 200%;
    height: 50%;
  }

  .flyergrid img {
    padding-right: 2px;
  }


}




@media screen and (min-width: 1280px) {

  .nav1 {
    font-size: 1rem;
  }

  .nav1 li:nth-of-type(1) {
    font-size: 1.25rem;
  }


  .flyergrid {
  margin-top: 5%;
  }

  .flyerinfo img {
    height: 400px;
    width: 400px;
  }


}



@media screen and (min-width: 1680px) {



}

